<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/05/30 15:54:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DirectDepositValidation.RTS1()[pri:0, instance:requirementValidation.DirectDeposit.DirectDepositValidation@271053e1]">RTS1</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/30 15:54:35</td>   <td>-116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Config_MobileAndWeb.setResultToFalse()[pri:0, instance:requirementValidation.DirectDeposit.DirectDepositValidation@271053e1]">&gt;&gt;setResultToFalse</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/30 15:54:16</td>   <td>-19102</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Config_MobileAndWeb.setUp()[pri:0, instance:requirementValidation.DirectDeposit.DirectDepositValidation@271053e1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/30 15:57:57</td>   <td>202056</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Config_MobileAndWeb.tearDown()[pri:0, instance:requirementValidation.DirectDeposit.DirectDepositValidation@271053e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/05/30 15:57:57</td>   <td>202055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Config_MobileAndWeb.writtingResults()[pri:0, instance:requirementValidation.DirectDeposit.DirectDepositValidation@271053e1]">&lt;&lt;writtingResults</td> 
<td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
</table>
